In [56]:
!pip install fsspec
!pip install s3fs
!pip install pyarrow

Requirement already satisfied: fsspec in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (2023.10.0)
Requirement already satisfied: s3fs in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (2023.10.0)
Requirement already satisfied: aiobotocore~=2.7.0 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from s3fs) (2.7.0)
Requirement already satisfied: fsspec==2023.10.0 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from s3fs) (2023.10.0)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from s3fs) (3.8.6)
Requirement already satisfied: botocore<1.31.65,>=1.31.16 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from aiobotocore~=2.7.0->s3fs) (1.31.64)
Requirement already satisfied: wrapt<2.0.0,>=1.10.10 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from aiobotocore~=2.7.0->s3fs) (1.15.0)
Requirement already satisfied: aioitertools<1.0.0,>=0.5.1 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from aiobotocore~=2.7.0->s3fs) (0.11.0)
Requirement already satisfied: attrs>=17.3.0 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (23.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (3.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (4.0.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.3.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from botocore<1.31.65,>=1.31.16->aiobotocore~=2.7.0->s3fs) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from botocore<1.31.65,>=1.31.16->aiobotocore~=2.7.0->s3fs) (2.8.2)
Requirement already satisfied: urllib3<2.1,>=1.25.4 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from botocore<1.31.65,>=1.31.16->aiobotocore~=2.7.0->s3fs) (1.26.16)
Requirement already satisfied: idna>=2.0 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (3.4)
Requirement already satisfied: six>=1.5 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.31.65,>=1.31.16->aiobotocore~=2.7.0->s3fs) (1.16.0)
Collecting pyarrow
  Downloading pyarrow-13.0.0-cp311-cp311-macosx_11_0_arm64.whl (23.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 23.6/23.6 MB 21.5 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: numpy>=1.16.6 in /Users/kevinsheth/miniconda3/lib/python3.11/site-packages (from pyarrow) (1.24.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-13.0.0

In [36]:
import pandas as pd
import s3fs

In [37]:
df = pd.read_csv(f's3://fintech540-ml/equity_data/prices/CSCO_20_23.csv')

In [38]:
df.head()

,Unnamed: 0,2020-06-01,2020-06-02,2020-06-03,2020-06-04,2020-06-05,2020-06-08,2020-06-09,2020-06-10,2020-06-11,...,2023-05-18,2023-05-19,2023-05-22,2023-05-23,2023-05-24,2023-05-25,2023-05-26,2023-05-30,2023-05-31,2023-06-01
0,09:30:00,47.15,46.32,47.12,46.74,47.25,47.44,48.01,47.72,47.00,...,45.72,48.50,49.120,48.68,48.98,47.83,49.18,49.97,49.88,49.72
1,09:30:01,47.15,46.32,46.90,46.74,47.25,47.47,47.98,47.72,46.90,...,45.77,48.50,49.155,48.68,48.98,47.83,49.20,49.97,49.88,49.72
2,09:30:02,47.15,46.32,46.90,46.74,47.25,47.47,47.98,47.72,46.81,...,45.94,48.50,49.155,48.68,48.96,47.83,49.20,50.04,49.86,49.78
3,09:30:03,47.15,46.32,46.90,46.74,47.25,47.47,47.98,47.72,46.81,...,45.94,48.51,49.170,48.68,48.96,47.83,49.20,50.04,49.86,49.78
4,09:30:04,47.15,46.32,46.90,46.74,47.25,47.44,47.98,47.69,46.77,...,45.96,48.51,49.200,48.71,48.96,47.83,49.24,50.04,49.82,49.76

In [6]:
df_melted = pd.melt(df, id_vars=['Unnamed: 0'], var_name='Date', value_name='Price')

In [9]:
df_melted

         Unnamed: 0        Date   Price
0          09:30:00  2020-06-01  47.150
1          09:30:01  2020-06-01  47.150
2          09:30:02  2020-06-01  47.150
3          09:30:03  2020-06-01  47.150
4          09:30:04  2020-06-01  47.150
...             ...         ...     ...
17644349   15:59:56  2023-06-01  49.725
17644350   15:59:57  2023-06-01  49.725
17644351   15:59:58  2023-06-01  49.725
17644352   15:59:59  2023-06-01  49.725
17644353   16:00:00  2023-06-01  49.725

[17644354 rows x 3 columns]

In [17]:
fs = s3fs.S3FileSystem(anon=True)  # Set to `anon=False` if you have credentials
files = fs.ls('s3://fintech540-ml/equity_data/prices')

In [18]:
files

['fintech540-ml/equity_data/prices/AAPL_20_23.csv',
 'fintech540-ml/equity_data/prices/AMGN_20_23.csv',
 'fintech540-ml/equity_data/prices/AXP_20_23.csv',
 'fintech540-ml/equity_data/prices/BA_20_23.csv',
 'fintech540-ml/equity_data/prices/CAT_20_23.csv',
 'fintech540-ml/equity_data/prices/CRM_20_23.csv',
 'fintech540-ml/equity_data/prices/CSCO_20_23.csv',
 'fintech540-ml/equity_data/prices/CVX_20_23.csv',
 'fintech540-ml/equity_data/prices/DIS_20_23.csv',
 'fintech540-ml/equity_data/prices/DOW_20_23.csv',
 'fintech540-ml/equity_data/prices/GS_20_23.csv',
 'fintech540-ml/equity_data/prices/HD_20_23.csv',
 'fintech540-ml/equity_data/prices/HON_20_23.csv',
 'fintech540-ml/equity_data/prices/IBM_20_23.csv',
 'fintech540-ml/equity_data/prices/INTC_20_23.csv',
 'fintech540-ml/equity_data/prices/JNJ_20_23.csv',
 'fintech540-ml/equity_data/prices/JPM_20_23.csv',
 'fintech540-ml/equity_data/prices/KO_20_23.csv',
 'fintech540-ml/equity_data/prices/MCD_20_23.csv',
 'fintech540-ml/equity_data/prices/MMM_20_23.csv',
 'fintech540-ml/equity_data/prices/MRK_20_23.csv',
 'fintech540-ml/equity_data/prices/MSFT_20_23.csv',
 'fintech540-ml/equity_data/prices/NKE_20_23.csv',
 'fintech540-ml/equity_data/prices/PG_20_23.csv',
 'fintech540-ml/equity_data/prices/TRV_20_23.csv',
 'fintech540-ml/equity_data/prices/UNH_20_23.csv',
 'fintech540-ml/equity_data/prices/VZ_20_23.csv',
 'fintech540-ml/equity_data/prices/V_20_23.csv',
 'fintech540-ml/equity_data/prices/WBA_20_23.csv',
 'fintech540-ml/equity_data/prices/WMT_20_23.csv']

In [57]:
master_df = pd.DataFrame()

# Loop through each file and read it into a DataFrame
for i, file in enumerate(files):
    df = pd.read_csv(f's3://{file}')
    file_name = file.split('/')[-1]
    df_melted = pd.melt(df, id_vars=['Unnamed: 0'], var_name='Date', value_name='Price')
    df_melted['Timestamp'] = pd.to_datetime(df_melted['Date'] + ' ' + df_melted['Unnamed: 0'])
    df_melted.set_index('Timestamp', inplace=True)
    df_melted.drop(['Unnamed: 0', 'Date'], axis=1, inplace=True)

    df_melted.to_parquet(f"staging/prices/MELTED_{file_name.replace('csv', 'parquet.gzip')}", compression='gzip')